{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "news" %}</h2>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
    <div>
	{% for field in form %}
		<div>
			<strong>{{field.label_tag}}</strong>
			<div>{{field}}</div>
		</div>
	{% endfor %}
	</div>
	<div class="div-button-left">
		<button type="submit" class="btn btn-outline-success" style="width:120px">{% trans "Save" %}</button>
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'news_index' %}">{% trans "Back" %}</a>    
	</div>
</form>
<script type="text/javascript">
	$(".chosen").chosen();
</script>
{% endblock content %}