{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "about" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="div-width-100-text-center">
	<h3>Ассоциация корейцев Казахстана</h3>
</div>
<div>
	<p>Корейцы являются одной из этнических диаспор в Казахстане численностью 118 450 человек (2021 г.), что ставит их по численности на 9-е место. Первые 220 корейцев прибыли в Казахстан по советскому госзаказу в 1929 году по добровольной программе развития рисоводства. 3 июня 1990 года была основана ассоциация корейцев Казахстана (АКК), которая вносит большой вклад в сохранение культурного наследия корейской диаспоры республики.</p>
</div>
<div>
	<h4 style="text-align: center"></h4>
</div>
{% endblock content %}
